<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @paper.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @paper.summary %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @paper.publisher %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to "Access here", @paper.url %>
</p>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
